.VideoHebrew {
    height: 409.5px;
    outline: 2px solid black;
    box-shadow: #fff 1px 1px 0 -2px, #000 6px 6px 0 1px;
    border-radius: 20px;
}

.divTest {
    width: 100%;  position: relative; padding-bottom: 56.250%;
}

.iframeTest{
    width: 100%; height: 100%; position: absolute;
}


@media only screen and (max-width: 1000px) {
    .VideoHebrew {
        height: 327.6px;
        width: 582.4px;
    }

    .VideoHebrew iframe {
        height: 327.6px;
        width: 582.4px;
    }

}

@media only screen and (max-width: 700px) {
    .VideoHebrew {
        height: 262.1px;
        width: 465.9px;
    }

    .VideoHebrew iframe {
        height: 262.1px;
        width: 465.9px;
    }

}

@media only screen and (max-width: 520px) {
    .VideoHebrew {
        height: 209.7px;
        width: 372.7px;
    }

    .VideoHebrew iframe {
        height: 209.7px;
        width: 372.7px;
    }

}

@media only screen and (max-width: 400px) {
    .VideoHebrew {
        height: 167.7px;
        width: 298.1px;
    }

    .VideoHebrew iframe {
        height: 167.7px;
        width: 298.1px;
    }

}